<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<h2 class="title">FAQ: Frequently Asked Questions</h2><br>
		<div class="row">
			<div class="col-md-12">
                            <h3>What is Carpool?</h3>
                            <p>Carpooling is when two or more people commute to work or other destinations together for all or part of a journey. It is also known as ridesharing. Individuals work out their own arrangements such as who drives, how often, schedules, and payment for petrol and maintenance.</p>
                            <p>Example: Ali and Abu goes to Bandar to work. Ali and Abu have their own cars. Instead of driving two cars to Bandar, taking up two parking spaces, and paying double the parking fees, Ali and Abu shares a car. Ali can drive Abu down to Bandar the first week. Abu can drive Ali to Bandar the next week.</p>
                            <h3>What are the benefits of Carpooling?</h3>
                            <p>There is a lot of benefits to carpooling. Here is some of them:</p>
                            <ol>
                                <li><strong>Saves Cost:</strong> The passengers can ride along with the driver and pay for fuel or parking ticket. Imagine parking for 4 hours and pay $4. If 4 people go carpooling, they can do a split $1 each.</li>
                                <li><strong>Saves Time:</strong> It saves time from waiting an even longer traffic line if everyone joined together and carpool instead.</li>
                                <li><strong>Less Pollution:</strong> With less cars on the road, we would be leaving less carbon emission.</li>
                                <li><strong>Saves Fuel:</strong> Imagine 3 cars driving down to Bandar. Each paying $5 each for the fuel journey. In carpooling, 3 persons could save up tremendously in a year.</li>
                                <li><strong>Make New Friends:</strong> Be social. Meet new people.</li>
                            </ol>
                            <h3>How many people should I carpool with?</h3>
                            <p>You decide. You can travel with just one person just to start off and that will halven the travel cost between the two of you. Once you're comfortable, you can try carpooling with more people which will then be even cheaper the cost.</p>
                            <h3>Who does the driving?</h3>
                            <p>In some carpools, each carpooling member takes turns driving their own vehicle, while in others there is only one driver. There is no hard and fast rule - it is totally dependent upon the individual circumstances of those in your carpooling group.</p>
                            <h3>Is my vehicle insurance affected by carpooling?</h3>
                            <p>Not usually but it pays to read the fine print of your vehicle insurance policy – they are not all the same. If in doubt, call your insurance company to confirm your cover is not affected.</p>
                            <h3>How much should the passengers in a carpool be paying?</h3>
                            <p>In carpooling where driving is equally shared, no money usually changes hands as each member is using their personal vehicle an equal amount of time. When only one person does the driving, or when there is an unequal split of driving responsibilities, the cost-sharing arrangement should be discussed by those in the carpool.</p>
                            <h3>Can I/we use this site for free?</h3>
                            <p>At the moment, it is free. Not asking for money from anyone using this platform.</p>
                            <h3>How does it work?</h3>
                            <p>First, sign up! Then either post a carpool request for you to join another driver to where you want to go and when. Or take up carpool request and drive them on the way to where you are going. At the end of it, settle an agreement between you and the passengers or driver on how much to contribute for the trip.</p>
                            <h3>Who made this?</h3>
                            <p>My name is Abdul Qoyyuum. A Bruneian who, like everyone else, hates traffic jams. I aim to build this so others can carpool and lessen the amount of vehicles on the road.</p>
                            <h3>I have a problem/feedback/idea using this webapp. How do I tell you about it?</h3>
                            <p>Go to  and post it. I'll check it twice a day and respond to as many as I can.</p>
                            <h3>I wanna tell people about this! How do I share?</h3>
                            <ul>
                                <li>Facebook Page here:</li>
                                <li>Twitter <em>Coming soon</em></li>
                                <li>Instagram <em>Coming soon</em></li>
                                <li>Google+ <em>Coming soon</em></li>
                            </ul>
			</div>
		</div>

	</div>	
</div>